# Copyright (c) 2019 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

# Use the SPI driver by default, unless the GPIO driver is
# specifically configured in.
config SPI
	default y

menu "WS2812 Sample Configuration"

config SAMPLE_LED_UPDATE_DELAY
	int "Delay between LED updates in ms"
	default 50
	help
	  Delay between LED updates in ms.

config CRSF
	bool "CRSF"
	default y
	help
	  Enable CRSF protocol support.

endmenu

source "Kconfig.zephyr"

